
@section ESTILOS{
	<link rel="stylesheet" href="administrador/bootstrap.min.css">
   @* <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet"/>*@

	   }
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Formulario</title>
	<link rel="stylesheet" href="boton.css">
	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

	<style type="text/css">

	


		body{
		
			font-family: Arial;
			/*background-color: #256999;*/
			box-sizing: border-box;
			padding: 100px;
		}

		form{
			background-color: white;
			border-radius: 0 0 3px 3px;
			color: #999;
			font-size: 0.8em;
			padding: 20px;
			margin: 0 auto;
			width: 330px;
		}

		 textarea{
			border: 0;
			outline: none;

			width: 280px;
		}
		input{
          text-align: center;

		}

		
		.field{
			border: solid 1px #ccc;
			border-radius: 0 4px 4px 0; 
			padding: 10px;
			width: 240px;
		}

		.field:focus{
			border-color: #18A383;
		}

		.center-content{
			text-align: center;
		}

		.field-container div{
			display: inline-block;
			vertical-align: top;

			
		}

		.field-container{

			text-align: center;

		}

	

		#menu ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}

		#menu ul li{
			display: inline-block;
			width: 49%;
			margin-right: 0px;
		}

		#menu ul li a{
			background-color: #ccc;
			color: #222;
			display: block;
			padding: 20px 20px;
			text-decoration: none;
		}
		#menu ul li a:hover{
			background-color: #eee;
		}

		#formularios, #menu{
			margin: 0 auto;
			width: 330px;
		}

		
		.active{
			background-color: white !important;
		}

		.columns >div{
			width: 50%;
			display: inline-block;
			vertical-align: top;
			margin-right: -4px;
		}
		.columns .field{
			width: 80px;
		}

		#form_register{
			display: none;
		}

	</style>
</head>
<body style="background-image: url('@Url.Content("~/images/fondo_imagen_sistema.jpg")');">
@*<body style="background-image: url('@Url.Content("~/images/fondo_asistencia.jpg")');">*@
	
	<div id="formularios">
		@*<form id="josias" method="post">*@
		<form action="/registrogeneral/login" method="post" id="form_session">

			<p>Login</p>
			<div class="field-container">
		
				<input type="text" class="field" name="logeo" placeholder="user@example.com" required> <br/>
			</div>
             <br /> 
			<p>Contraseña:</p>
			<div class="field-container">
			
				<input type="password" class="field"  name="password" placeholder="*******" required> <br/>
			</div>
			<br />
			<p class="center-content">
				<input type="submit" class="btn btn-danger" id="boton" value="Ingresar"><br /><br />
				

			
	<a  class="btn btn-primary" href="@Url.Action("Index","ESRegistro")" role="button">Asistencia</a>
			</p>
			
			<br />
		@if(@TempData["msg"]!=null){
	   <div class="form-outline mb-4">
      <div class="alert alert-danger"  role="alert"> <center>@TempData["msg"]</center></div>
      </div>


		}

		</form>	

		<form action="/RegistrarAsistencia/registrar" method="post" id="form_register">
			
		@*	<div class="columns">*@
				<div class="field-container">
					<p> Codigo Asistencia:</p>
					<i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>	
					<input type="text" name="codigoempleado" class="field" placeholder="*******" required> <br/>
				</div>
			

		@*	</div>*@
			<br/>

			@*@TempData["Message"];*@
			
			<p class="center-content">
				<input type="submit" class="btn btn-primary"  value="Entrada">
		@*<button type="submit" class="btn btn-primary" id="btnguardar">ingresar</button>*@
			</p>
			<p class="center-content">
			<input type="submit" class="btn btn-danger" formaction="RegistrarAsistencia/registrarS" value="Salida">
		@*<button type="submit" class="btn btn-primary" id="btnguardar">ingresar</button>*@
			</p>

			 @if(@TempData["msg"]=="USUARIO NO EXISTE")
			 {

				  <div class="form-outline mb-4">
                  <div class="alert alert-danger" role="alert"><center>@TempData["msg"]</center></div>
                  </div>


			 }


			  @if(@TempData["entrada"]!=null && @TempData["entradas"]!=null)
			 {


				  


				  <div class="form-outline mb-4">
                  <div class="alert alert-danger" role="alert"><center>@TempData["entrada"] @TempData["entradas"] @TempData["fecha"] @TempData["tipoentrada"]</center></div>
                  </div>


			 }


		</form>	

		
			
	</div>
	
	<script src="js1/jquery.js"></script>
	<script>
		$(function(){
			$("#menu li").on("click", function(){
				var i = $(this).index();
				$("#formularios form").hide();
				$("#formularios form").eq(i).show();
				$("#menu li a").removeClass("active");
				$(this).find("a").addClass("active");
			});
		});
	</script>
	@*@TempData["msg"]*@
	
	

</body>

</html>
@section Scripts{


	 <script src="administrador/bootstrap.bundle.min.js"></script>



	 <script type="text/javascript">
      $("#btnguardar").click(function (e) {
        e.preventDefault();

          var enviar = $('#josias')[0];
         
          var data = new FormData(enviar);
        $.ajax({
            url: "/registrogeneral/login",
            dataType: 'json',
            method: 'post',
            contentType: false,
            data: data,
            processData: false,
            success: function (result) {
                alert(result.message);
                 window.location = '/escritorio/Index';

                //$("#modalCajaMov").modal('hide');
                 //return RedirectToAction("/Libro/Libro/Index");
            },

            error: function (result) {
                alert(result.error);
            }


        });

    });

	 </script>

}