@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@using Microsoft.AspNetCore.Http;
@section ESTILOS{

    <link  href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"rel="stylesheet" />
    <link  href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css" rel="stylesheet"/>

    <style>

  .btn-excel{

      background-color:#198754 !important;
      color: white !important;
  }
  .pdf{
     
       background-color:red !important;

  }

  .print{

        background-color:yellow !important;
      color: white !important;
  }



    </style>
}

<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        .sidebar-dark-primary{

            background: #455279 !important;




        }

        #modalCajaMov{
           /* background-color:rgba(0,0,0,0.5)!important;*/

           background-color:white;


        }

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard 2</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="administrador/dist/css/adminlte.min.css">


    @*<link rel="stylesheet" href="css/jquery.dataTables.min.css">*@



     < link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" />

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">*@
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
       @*     <img class="animation__wobble" src="administrador/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">*@
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                   @* <a href="index3.html" class="nav-link">Homes</a>*@
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                 @*   <a href="#" class="nav-link">Contact</a>*@
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                       @* <i class="fas fa-search"></i>*@
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                       @* <i class="fas fa-search"></i>*@
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                       @* <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>*@
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="administrador/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="administrador/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="administrador/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                       @* <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>*@
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                       @* <i class="fas fa-expand-arrows-alt"></i>*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                       @* <i class="fas fa-th-large"></i>*@
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                
@*                <img src="administrador/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
*@
                <span class="brand-text font-weight-light">Web Genius J.P</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@ViewBag.imagen" class="img-circle elevation-2" style="width: 50px; height: 50px;" />
                    </div>
                    <div class="info">
                        @*<a href="#" class="d-block">Alexander Pierce</a>*@
                        @*<li>@TempData["nombre"].ToString();</li>*@
                        <li>@Context.Session.GetString("sess_1")</li>
                  <a class="btn btn btn-primary btn-xs" title="SALIR" href="@Url.Action("salir","ListarAsistencia")"><span class="fas fa-sign-out-alt"></span> </a>
                    </div>
                </div>

              
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                           <li class="header">MENÚ DE NAVEGACIÓN</li>
                        <li class="nav-item menu-open">
                           @* <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Panel
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>*@
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                     <a href="@Url.Action("index","Panel")" class="nav-link active">
                                      <i class="fa fa-home" aria-hidden="true"></i>
                                       @* <i class="far fa-circle nav-icon"></i>*@
                                        <p>Escritorio</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                   <a href="@Url.Action("index","escritorio")" class="nav-link active">
                                      @*  <i class="far fa-circle nav-icon"></i>*@
                                       <i class="fa fa-user" aria-hidden="true"></i>
                                        <p>Usuarios</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                   <a href="@Url.Action("index","departamento")" class="nav-link active">
                                       @* <i class="far fa-circle nav-icon"></i>*@
                                         <i class='fas fa-book-open'></i>
                                        <p>Departamento</p>
                                    </a>
                                </li>

                                    <li class="nav-item">
                                    <a href="@Url.Action("index","Horario")" class="nav-link active">
                                          <i class='fas fa-chalkboard-teacher'></i>
                                        <p>Horarios</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                     <a href="@Url.Action("index","ListarAsistencia")" class="nav-link active">
                                       @* <i class="far fa-circle nav-icon"></i>*@
                                        <i class='fas fa-chalkboard-teacher'></i>
                                        <p>Asistencias</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                   <a href="@Url.Action("index","ReporteAsistencia")" class="nav-link active">
                                      @*  <i class="far fa-circle nav-icon"></i>*@
                                       <i class="fa fa-file" aria-hidden="true"></i>
                                        <p>reporte</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                            </ul>
                       
                    
                  
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>



        @if(ViewBag.entidad==null){

            <div class="content-wrapper">

           <div id="jairo"></div>
          @* <br />*@
           
            <div class="panel-body table-responsive" id="listadoregistros">
                 <table id="tabla" class="display" style="width:100%">
               @* <table id="tabla" class="table table-striped  table-condensed table-hover">*@
                    <thead>
                        <tr>
                         
                             <th>id</th>
                           <th>nombre</th>
                            <th>apellidos</th>
                            <th>nombreD</th>
                            <th>asistencia</th>
                            <th>fechahora</th>
                            <th>codigoempleado</th>
                            <th>Puntual</th>
                            
                        </tr>
                    </thead>


                    <tbody>
                       
                    </tbody>

                </table>
            </div>





            


        </div>



        }




        else{


        

          <div class="content-wrapper">




           


           <div id="jairo"></div>
          @* <br />*@
           
            <div class="panel-body table-responsive" id="listadoregistros">
                 <table id="tabla" class="display" style="width:100%">
               @* <table id="tabla" class="table table-striped  table-condensed table-hover">*@
                    <thead>
                        <tr>
                         
                             <th>id</th>
                           <th>nombre</th>
                            <th>apellidos</th>
                            <th>nombreD</th>
                            <th>asistencia</th>
                            <th>fechahora</th>
                            <th>codigoempleado</th>
                            <th>Puntual</th>
                            
                        </tr>
                    </thead>


                    <tbody>
                       

                        @foreach (var item in ViewBag.entidad)
                        {
                            @*string horat = @item.TardeTemprano;*@
                            <tr>
                                  <td>@item.idasistencias</td>
                                <td>@item.nombre</td>
                                <td>@item.apellidos</td>
                                <td>@item.nombreD</td>
                                <td>@item.tipo</td>
                                 <td>@item.fechahora</td>
                                 <td>@item.codigoempleado</td>
                                 <td>@if(@item.TardeTemprano=="Tarde"){ <button type="button" class="btn btn-danger">Tarde</button>}@if(@item.TardeTemprano=="Temprano"){<button type="button" class="btn btn-primary">Temprano</button>}</td>
                                 
                            </tr>
                           

                               
                        }



                    </tbody>

                </table>
            </div>





            


          </div>

        }

       
    </div>


    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->

    <script src="plugins/jquery/jquery.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="administrador/dist/js/adminlte.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="plugins/raphael/raphael.min.js"></script>
    <script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="plugins/chart.js/Chart.min.js"></script>

    <!-- AdminLTE for demo purposes -->
   @* <script src="administrador/dist/js/demo.js"></script>*@
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="administrador/dist/js/pages/dashboard2.js"></script>


    @*<script src="js/jquery.dataTables.min.js"></script>*@

   
    
   
   

</body>
</html>
@section Scripts{
 <!-- usando pruebas con url cdn para reportes con  DataTables-->

 <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
 <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>

 @*<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js">  </script>*@

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js">  </script>
   <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js">  </script>


   <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js">  </script> 
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
   @* <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>*@


<script type="text/javascript">
    


$(document).ready(function () {
     $('#tabla').DataTable({

         "language":{
             url:"https://cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json"
         },
         dom:"Bfrtip",
         buttons:[
             {
             extend:"excelHtml5",
             text:"Excel",
             filename:"Reporte Asistencia",
             title:"",
             className:"btn-excel"
            },
            //"pageLength",
             {
             extend:"pdfHtml5",
             text:"Pdf",
             filename:"Reporte Asistencia",
             title:"",
             className:"pdf"
            },

            {
             extend:"print",
             text:"imprimir",
             filename:"Reporte Asistencia",
             title:"",
             className:"print"
            },



             "pageLength",


           
         ]


         });
       

        

    });

</script>


   }